<nav class="navbar navbar-expand-lg bg-primary text-light shadow p-3 position-sticky w-100 mb-5">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" href="/">InstiPass</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Who are you
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="institution/accounts/login/?next=/institution/">Institution</a></li>
        <li><a class="dropdown-item" href="student/accounts/login/?next=/student/">Student</a></li>
      </ul>
      </div>
      <li class="nav-item">
      <a class="nav-link" href="about">About</a>
      </li>
    </ul>
    <button id="theme-toggle" class="btn btn-outline-light ms-auto">Toggle Theme</button>
    </div>
  </div>
  </nav>

<script>
  const themeToggle = document.getElementById('theme-toggle');
  themeToggle.addEventListener('click', () => {
  document.body.classList.toggle('dark-theme');
  });
</script>

<style>
  .dark-theme {
  background-color: #121212;
  color: #ffffff;
  }
</style>